@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
a {
  color: #009FE3;
}
.btn-primary {
  background-color: #009FE3;
}
body {
  padding-bottom: 2em;
}
iframe {
  width: 100%;
  height: 90px;
  border: none;
  overflow: hidden;
}
.profile {
  font-size: 14px;
  margin-top: 1em;
  font-weight: normal;
}
.orgs input,
.roles input,
browse input {
  margin-bottom: 1em;
}
.orgs .create-btn,
.roles .create-btn,
browse .create-btn {
  display: flex;
}
.orgs .create-btn .btn,
.roles .create-btn .btn,
browse .create-btn .btn {
  flex-grow: 1;
  margin: 0 .5em;
}
#newRoleName {
  text-transform: uppercase;
}
.container > .nav {
  margin-bottom: 2em;
}
.col-md-10 {
  margin-top: 1em;
}
@media (min-width: 992px) {
  .col-md-10 {
    margin-top: 0;
  }
}
section .nav {
  background: #009FE3;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1em 0;
}
@media (min-width: 992px) {
  section .nav {
    margin: 0 -15px;
    border: none;
  }
}
section .nav li a {
  border-radius: 0;
  color: #fff;
}
section .nav li a:hover,
section .nav li.active a:hover,
section .nav li.active a {
  background: #009FE3;
  font-weight: bold;
}
section .roles-title {
  margin-top: 0;
  padding-top: .1em;
  margin-bottom: 1em;
}
.pagination {
  margin-top: 5px;
}
.pagination > li > a {
  cursor: pointer;
  padding: 6px 9px;
}
.pagination > .active > a {
  background: #009FE3;
}
.panel-filter-table-reset {
  position: absolute;
  right: 2.5em;
  top: 1.9em;
}
.panel-filter-table-reset:hover {
  cursor: pointer;
}
.analytics hr {
  margin-top: 2em;
}
.analytics .stats-conf {
  margin: -0.45em 0 0 1em;
}
.analytics .chosen-container {
  float: right;
}
.analytics .chosen-single {
  margin-top: -0.45em;
}
.user .password {
  height: 2.4em;
}
.user .chosen-container {
  width: 100% !important;
}
.user .ql-toolbar {
  border-radius: 4px 4px 0 0;
}
.user .ql-container {
  border-radius: 0 0 4px 4px;
}
.user-messages select {
  margin-bottom: 0.25em;
  margin-top: -0.25em;
}
.stats .pull-right {
  margin-top: -0.75em;
}
.stats table {
  margin-top: 1em;
}
.home .alerts .alert {
  margin-bottom: 0;
  border-radius: 0;
}
.home .alerts .alert .glyphicon,
.home .alerts .alert a {
  color: white;
}
.home .alerts .alert .manage {
  font-weight: bold;
}
.home .alerts .alert .glyphicon {
  font-size: 2.7em;
}
.home .alerts .alert .glyphicon:first-of-type {
  font-size: 2.3em;
  margin-left: -0.5em;
}
.home .alerts .alert.alert-info {
  background-color: #009FE3;
  border-color: #009FE3;
  padding: 30px 15px;
  font-weight: bold;
}
.home .alerts .alert.alert-info a {
  font-size: 1.2em;
}
.home .alerts .alert.alert-danger {
  background-color: #E40615;
  border-color: #E40615;
}
.home .alerts .alert.alert-warning {
  background-color: #F29200;
  border-color: #F29200;
}
.home .alerts .alert:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.home .alerts .alert:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.home .jumbotron {
  margin-top: 2em;
  padding: 24px;
}
.home .jumbotron h1 {
  font-size: 48px;
}
.home .jumbotron h1,
.home .jumbotron p {
  text-align: center;
}
.home .jumbotron p {
  font-size: 17px;
}
.home .jumbotron dir-pagination-controls {
  display: block;
  text-align: center;
}
.home .jumbotron table {
  table-layout: fixed;
}
.home .jumbotron table th,
.home .jumbotron table td {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home .jumbotron table th:first-of-type,
.home .jumbotron table td:first-of-type {
  width: 20%;
}
@media (min-width: 992px) {
  .aside {
    border-right: 2px solid #009FE3;
  }
}
.aside .alert-info {
  background-color: #009FE3;
  border-color: #009FE3;
}
.aside .alert-info a:not(.btn) {
  color: white;
}
.aside .category {
  display: block;
  padding: .5em 0;
}
.aside .category.active {
  font-weight: bold;
}
.filter-table {
  width: 25%;
}
.filter-table-reset {
  position: absolute;
  right: 1.5em;
  top: 0.7em;
}
.filter-table-reset:hover {
  cursor: pointer;
}
.pending {
  font-style: italic;
}
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.65);
  z-index: 100;
}
.background .panel {
  width: 40em;
  box-shadow: 0 0 5em rgba(0, 0, 0, 0.4);
}
.background .panel-body {
  min-height: 8em;
}
.background .close {
  margin-top: -0.4em;
  margin-right: -0.4em;
}
@media (min-width: 992px) {
  .users {
    margin: 0 -15px;
  }
}
.users em {
  color: #888;
}
.users .users-selection {
  display: flex;
  justify-content: center;
}
.users .users-selection > .btn-primary,
.users .users-selection > .dropdown-toggle {
  padding: 6px;
}
.users .users-checkboxes {
  text-align: center;
}
.users .table thead th {
  vertical-align: middle;
}
@media (min-width: 992px) {
  .chosen-container {
    width: 16em !important;
  }
  .stats-conf {
    float: right;
  }
}
.stats .progress {
  width: 10em;
  margin: 5em auto;
  height: 2em;
}
.stats .progress-bar {
  border-radius: 4px;
  background-color: #009FE3;
}
.stats .alert {
  margin-top: 2em;
}
.area {
  position: relative;
}
.area .loading {
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  text-align: center;
  font-size: 200%;
  color: #fff;
  line-height: 10em;
}
.area .map {
  height: 650px;
  width: calc(100% + 60px);
  position: relative;
  border-radius: 5px 0 0 5px;
  margin: -15px 0 -15px -30px;
  border: none;
  border-right: 1px solid #ddd;
}
.area .ol-zoom {
  top: auto;
  bottom: .5em;
}
.area .ol-dragbox {
  border-color: #009FE3;
}
.area .ol-control button {
  background: rgba(0, 139, 207, 0.5);
}
.area .ol-control button:hover {
  background: rgba(0, 159, 227, 0.8);
}
.area .alert-info {
  text-align: center;
  margin: 15px -30px 15px;
  border-radius: 0 4px 0 0;
  border-width: 0 0 1px 0;
}
@media (min-width: 992px) {
  .area .map {
    width: calc(100% + 30px);
  }
  .area .alert-info {
    margin-top: -15px;
  }
  .area .importexport {
    margin-top: 2em;
    display: flex;
  }
  .area .importexport .btn {
    flex: 1;
  }
}
.area .attributions {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
  padding: .25em 1em;
  font-size: 11px;
  text-shadow: 0 0 1px #FFF;
  color: #666;
}
.area .selection {
  position: absolute;
  top: .5em;
  right: .5em;
  z-index: 1;
}
.area .search-container {
  position: absolute;
  top: .5em;
  left: .5em;
  z-index: 1;
  width: 15em;
}
.area .search-clear {
  position: absolute;
  right: 0;
  top: 0;
}
.area .pagination {
  margin: 10px 0 0;
}
.area .alternate {
  opacity: 75%;
  font-style: italic;
}
.autocomplete-suggestions {
  border-radius: 4px;
  font-size: 13px;
}
.autocomplete-suggestion span {
  display: inline-block;
  width: 0.7em;
  text-align: center;
  margin-left: -0.5em;
}
date {
  display: flex;
}
date .input-group {
  width: 16em;
  margin-right: 1em;
}
date select {
  flex: 1;
}
.logs .reset {
  margin-top: -0.75em;
}
.logs .chosen-container {
  width: 8em !important;
  float: right;
}
.logs .chosen-drop {
  width: 21em;
}
.logs .custom {
  width: 1em;
}
.logs table th,
.logs table td {
  width: 27%;
}
.logs table th:first-of-type,
.logs table td:first-of-type {
  width: 19%;
}
.logs table th select,
.logs table td select {
  max-width: 50%;
}
.logs table th .input-group,
.logs table td .input-group {
  max-width: 15em;
}
.logs table th input,
.logs table td input {
  padding: 3px;
}
.logs table select {
  width: auto;
}
.logs table date select {
  max-width: none;
  height: 30px;
  line-height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.logs .header-filter > span {
  display: inline-block;
  padding: .5em;
}
.logs .empty {
  color: #a94442;
  text-align: center;
  padding: 0.5rem;
}
.delete {
  opacity: .5;
}
.delegation_active {
  color: #3c763d;
}
.delegation_inactive {
  color: #8a6d3b;
}
.delegation_restricted {
  margin-top: 4em;
}
.user-form .required .col-sm-8:after,
.org-form .required .col-sm-8:after {
  position: absolute;
  right: 0.35em;
  top: -0.4em;
  content: '*';
  color: #009FE3;
  opacity: .8;
  font-size: 200%;
  line-height: 1.4em;
}
button.delete-logo {
  position: absolute;
  background: white;
  right: 20px;
  top: 5px;
  width: 24px;
  opacity: .6;
  border-radius: 2px;
}
button.delete-logo:hover {
  opacity: 1;
}
.chosen-container-multi .chosen-choices {
  border-radius: 4px;
  padding: 2px 5px;
}
.chosen-container-multi .chosen-choices li.search-choice {
  background: #f5f5f5;
  box-shadow: none;
}
.chosen-container * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.chosen-container .chosen-drop {
  border-top: 1px solid #aaa;
  border-radius: 4px;
  top: calc(102%);
}
.chosen-container .chosen-single {
  background: white;
  padding: 4px 0 4px 8px;
  height: 33px;
}
.chosen-container .chosen-single div b {
  background-position: 0 6px;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  background: white;
}
.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 6px;
}
[flash-message] {
  position: absolute;
  width: 25em;
  left: 50%;
  margin-left: -12.5em;
  top: 1em;
  z-index: 2000;
}
.glyphicon-spin {
  animation: spin 2s infinite linear;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
input.ng-invalid {
  border-color: #a94442;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.break-word {
  overflow-wrap: break-word;
}

svg {
  background: white;
}
.chartist {
  height: 25em;
}
.ct-label {
  font-size: 1rem;
}
.ct-barlabel {
  font-size: 1rem;
  fill: white;
}
.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
  stroke: #009FE3;
}
text {
  font-size: 11px;
  font-family: Arial;
  fill: #AAA;
}


/*# sourceMappingURL=app.css.map*/