services:

  database:
    image: georchestra/database:latest

  ldap:
    image: georchestra/ldap:latest
    ulimits:
      nofile:
        soft: "1024"
        hard: "1024"
    ports:
      - "389:389"

  console:
    image: georchestra/console-ng:0.0.1-SNAPSHOT
    depends_on:
      - database
      - ldap
    environment:
      - JAVA_TOOL_OPTIONS=-Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=*:5005 -Dgeorchestra.datadir=/etc/georchestra
    volumes:
      - ./datadir:/etc/georchestra
    ports:
      - "5006:5005"

  gateway:
    image: georchestra/gateway:latest
    depends_on:
      - database
      - ldap
    volumes:
      - ./datadir:/etc/georchestra
    environment:
      - JAVA_TOOL_OPTIONS=-Dgeorchestra.datadir=/etc/georchestra -Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=*:5005 -Dreactor.netty.http.server.accessLogEnabled=true
    ports:
      - "8080:8080"
      - "5005:5005"
