<!DOCTYPE html>
<html lang="en" th:lang="${#locale.toLanguageTag()}" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head(#{account.passwordUpdated.title})}">
  <meta charset="UTF-8">
  <title>Password updated</title>
</head>
<body>
<th:block th:replace="~{fragments/layout :: appHeader('console')}"></th:block>
<main id="main-content" tabindex="-1" class="page page-narrow">
  <section class="hero">
    <div class="hero-inline">
      <h1 class="hero-subtitle" th:text="#{account.passwordUpdated.title}">Password updated</h1>
      <p class="hero-text" th:text="#{account.passwordUpdated.body}">
        The password has been successfully updated. You will now be able to log in.
      </p>
    </div>
  </section>

  <section class="card">
    <a class="button button-primary" th:href="@{/}" th:text="#{account.passwordUpdated.link}">Log in</a>
  </section>
</main>
</body>
</html>
